/** table style class */
table.se-table-size-auto {
    width: auto !important;
}

table.se-table-size-100 {
    width: 100% !important;
}

table.se-table-layout-auto {
    table-layout: auto !important;
}

table.se-table-layout-fixed {
    table-layout: fixed !important;
}

/* float */
.__se__float-left {
    float: left;
}

.__se__float-right {
    float: right;

}

.se-component {
    display: flex;
    padding: 1px;
    margin: 0 0 10px;
}

.__se__float-center {
    margin-right: auto !important;
    margin-left: auto !important;
}

.__se__float-none {
    float: none;
}


/** -- Paragraph styles custom -- */
/* Bordered */
.__se__p-bordered,
.sun-editor .__se__p-bordered {
    border-top: solid 1px #b1b1b1;
    border-bottom: solid 1px #b1b1b1;
    padding: 4px 0;
}

/* -- Text styles custom -- */
/* Shadow */
.__se__t-shadow,
.sun-editor .__se__t-shadow {
    text-shadow:
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 0.2rem #999,
        0 0 0.4rem #888,
        0 0 0.6rem #777,
        0 0 0.8rem #666,
        0 0 1rem #555;
}

/* Code */
.__se__t-code,
.sun-editor .__se__t-code {
    font-family: monospace;
    color: #666;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 6px;
    padding: 0.2em 0.4em;
}